@page "/"
   @* *@
   @* <div class="  h-2/6"> *@
   @*     <img *@
   @*         src="https://blazor.syncfusion.com/demos/_content/BlazorServerCommon_NET6/images/carousel/bridge.png" *@
   @*         class="object-contain " *@
   @*         alt="Wild Landscape" *@
   @*     /> *@
   @*     </div> *@


    <img
         src=
         "https://blazor.syncfusion.com/demos/_content/BlazorServerCommon_NET6/images/carousel/bridge.png">
